body{
    font-family: 'Abril Fatface', cursive;
    margin: 0;
}

h1{
    font-size: 50px;
}



.choco-color{
    color:#BB8760;
}

.top-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.half-width{
    width: 50%;
    padding:5%;
}

.half-width img{
    width: 100%;
}

.link-button{
    text-decoration: none;
    padding: 10px 40px;
    color:white;
    background-image: linear-gradient(45deg,#BB8760,red);
    border-radius: 5px;

}

.link-button:hover{
    background-image: linear-gradient(45deg,#7abb60,rgb(255, 166, 0));
    
}

p{
    text-decoration: none;
    text-align: justify;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 50px;
}

