body{
    font-family: 'Abril Fatface', cursive;
    margin: 0;
}

h1{
    font-size: 50px;
}



.choco-color{
    color:#BB8760;
}

.top-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.half-width{
    width: 50%;
    padding:2%;
}

.half-width img{
    width: 60%;
}

.link-button{
    text-decoration: none;
    padding: 10px 40px;
    color:white;
    background-image: linear-gradient(45deg,#BB8760,red);
    border-radius: 5px;

}

.link-button:hover{
    background-image: linear-gradient(45deg,#7abb60,rgb(255, 166, 0));
    
}

p{
    text-decoration: none;
    text-align: justify;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 50px;
}


.mid-section{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.lower-section{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;

}

.experience{
    padding: 5%;
    margin: 3%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;

}

#pro-dev{
    border-left: 10px solid;
    border-image: linear-gradient(salmon,tomato)1;
}

#baby-dev{
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan)1;
}

#ex-title{
    padding-left: 2%;
}

.footer{
    text-align: center;
}

